<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="${title}">Login page</title>
<!-- <link rel="stylesheet" th:href="@{/css/login.css}"> -->
<!--	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"-->
<!--		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
</head>

<body>
	<section class="text-center text-lg-start">
		<style>
.cascading-right {
	margin-right: -50px;
}

@media ( max-width : 991.98px) {
	.cascading-right {
		margin-right: 0;
	}
}
</style>

		<!-- Jumbotron -->
		<div class="container py-4">
			<div class="row g-0 align-items-center">
				<div class="col-lg-6 mb-5 mb-lg-0">
					<div class="card cascading-right"
						style="background: hsla(0, 0%, 90%, 0.55); backdrop-filter: blur(30px);">
						<div class="card-body p-5 shadow-5">
							<div class="text-center">
								<h2 class="fw-bold mb-5 text-center">Sign up now</h2>
							</div>
							<div th:if="${session.message}"
								th:classappend="${session.message.type}" role="alert"
								class="alert">
								<p th:text="${session.message.content}"></p>
								<th:block th:text="${#session.removeAttribute('message')}"></th:block>
							</div>
							<form th:object="${user}" method="post"
								th:action="@{/do-register}">
								<div class="mb-3">
									<input name="name" type="text" class="form-control"
										th:classappend="${#fields.hasErrors('name')} ? 'is-invalid':''"
										th:value="${user.name}" id="exampleFormControlInput1"
										placeholder="Enter your full name"> <label
										for="exampleFormControlInput1" class="form-label">Name</label>
									<div th:each="e : ${#fields.errors('name')}" th:text="${e}"
										th:classappend="invalid-feedback"></div>
								</div>

								<!-- Email input -->
								<div class="form-outline mb-4">
									<input name="email" type="email" id="form3Example3"
										class="form-control"
										th:classappend="${#fields.hasErrors('email')} ? 'is-invalid':''"
										th:value="${user.email}" placeholder="Enter your email id" />
									<label class="form-label" for="form3Example3">Email
										address</label>
									<div th:each="e : ${#fields.errors('email')}" th:text="${e}"
										th:classappend="invalid-feedback"></div>
								</div>

								<!-- Password input -->
								<div class="form-outline mb-4">
									<input name="password" type="password" id="form3Example4"
										class="form-control"
										th:classappend="${#fields.hasErrors('password')} ? 'is-invalid':''"
										placeholder="Enter your password" /> <label
										class="form-label" for="form3Example4">Password</label>
									<div th:each="e : ${#fields.errors('password')}" th:text="${e}"
										th:classappend="invalid-feedback"></div>
								</div>

								<!-- Submit button -->
								<div class="text-center">
									<button type="submit" class="btn btn-danger btn-block mb-4">
										Sign up</button>
								</div>

								<p class="mb-5 pb-lg-2 text-center" style="color: #393f81;">
									Already have an account? <a th:href="@{/signin}"
										href="login.html" style="color: #393f81;">Login here</a>
								</p>
							</form>
						</div>
					</div>
				</div>


				<div class="col-lg-6 mb-5 mb-lg-0">
					<img
						src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg"
						class="w-100 rounded-4 shadow-4" alt="" />
				</div>
			</div>
		</div>
		<!-- Jumbotron -->
	</section>
</body>

</html>